:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /* Fonts */
    --font-family-1: "Outfit", sans-serif;
    --font-family-2: "Young Serif", serif;

    /* rule of (4 or 8) this is mixed of 4 and 8 */
    --text-size-1: 1rem; /* 16px */
    --text-size-2: 1.25rem; /* 20px */
    --text-size-3: 1.75rem; /* 28px */
    --text-size-4: 2.25rem; /* 36px */
    --text-size-5: 2.5rem; /* 40px */

    --line-presenc-1: 1.5;
    --line-presenc-2: 1;

    /* Spacing (4 or 8) this is 8 */
    --space-100: 0.5rem; /* 8px */
    --space-150: 0.75rem; /* 12px */
    --space-200: 1rem; /* 16px = 2 * 8 */
    --space-300: 1.5rem; /* 24px = 3 * 8 */
    --space-400: 2rem; /* 32px */
    --space-500: 2.5rem; /* 40px */
    --space-1300: 6.5rem; /* 104px = 13 * 8 */

    /* Complex token */
    --separator: 1px solid var(--stone-150);
}

/* Globals */
/* Simple reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--stone-100);
    color: var(--stone-600);
    font-family: var(--font-family-1);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-size-1);
    line-height: var(--line-presenc-1);
}

h1,
h2 {
    font-family: var(--font-family-2);
    font-weight: 400;
    font-style: normal;
    color: var(--brown-800);
    line-height: var(--line-presenc-2);
    font-size: var(--text-size-3);
}

h1 {
    color: var(--stone-900);
    font-size: var(--text-size-4);

    /* 550px */
    @media (min-width: 34.375rem) {
        font-size: var(--text-size-5);
    }
}

picture,
img {
    max-width: 100%;
    display: block;
}

hr {
    border: 0;
    border-block-start: var(--separator);
}

ul,
ol {
    --_list-indent: var(--list-indent, var(--space-500));
    --_marker-type: var(--marker-type, disc);
    --_marker-suffix: var(--marker-suffix, "");
    --_marker-color: var(--marker-color, var(--brown-800));
    list-style: none;

    li {
        --flow-space: var(--space-100);
        margin-inline-start: var(--_list-indent);
        text-indent: calc(var(--_list-indent) * -1);
    }

    li::before {
        content: counter(list-item, var(--_marker-type)) var(--_marker-suffix);
        color: var(--_marker-color);
        font-weight: 700;
        font-variant-numeric: normal;
        display: block;
        float: left;
        min-width: var(--space-200);
        margin-inline: var(--space-100) var(--space-200);
    }
}

ol {
    --marker-type: decimal;
    --marker-suffix: ".";
}

table {
    --_left-right-padding: var(--left-right-padding, var(--space-400));
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    padding: var(--space-150) var(--space-100);

    &:first-child {
        padding-inline-start: var(--_left-right-padding);
    }

    &:last-child {
        padding-inline-end: var(--_left-right-padding);
    }
}

th {
    font-weight: 400;
}

td {
    font-weight: 700;
    color: var(--brown-800);
}

tr {
    & + & {
        border-block-start: var(--separator);
    }

    &:first-child {
        padding-block-start: 0;
    }

    &:last-child {
        padding-block-end: 0;
    }
}

/* Composition */
.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

/* Utility */
.challenge-wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;
    max-width: 90rem; /* 1440px */

    /* 550px */
    @media (min-width: 34.375rem) {
        padding: var(--space-400);
    }

    /* 768px */
    @media (min-width: 48rem) {
        padding: var(--space-1300);
    }
}

.recipe {
    background-color: var(--white);

    /* 550px */
    @media (min-width: 34.375rem) {
        max-width: 47.5rem; /* 760px */
        padding: var(--space-400);
        border-radius: var(--space-200);
    }
}

.recipe__image {
    overflow: hidden;

    /* 550px */
    @media (min-width: 34.375rem) {
        border-radius: var(--space-100);
    }
}

.recipe__content {
    padding: var(--space-400);

    > * {
        --flow-space: var(--space-400);
    }

    > .section > *,
    > p {
        --flow-space: var(--space-300);
    }
}

.preparation_time {
    --_prep-time-color: var(--prep-time-color, var(--rose-800));
    --marker-color: var(--_prep-time-color);
    background-color: hsl(from var(--_prep-time-color) h 100% 98%);
    padding: var(--space-300);
    border-radius: var(--space-200);

    > * {
        --flow-space: var(--space-200);
    }

    h2 {
        color: var(--_prep-time-color);
        font-family: var(--font-family-1);
        font-size: var(--text-size-2);
        font-weight: 600;
    }
}
